main {
  font-family: sans-serif;
}

@media (min-width: 501px) {
  main {
    margin-right: 209px;  /* spacing for remoteStorage widget */
  }
}
@media (max-width: 500px) {
  main {
    margin-top: 52px;  /* spacing for remoteStorage widget */
  }
}
